@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "PT Sans", sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
 
}
.navbar-item>img{
    max-width: fit-content;
}
.imagen_inicio>img{
    margin-top: 30px;
}
h1{
    text-align: center;
    font-size: 30px;
    padding: 8px;
}
.containerP{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Filtrado{
 
    width: 200px;
    height: 300px;
}
.productos{
    width: 100%;
    margin-left:50px ;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.navnbar{
    position: fixed;
}
footer,img{
    width: 100%;
}
.herramientasDIV>img{
    width: 200px;
    height: 200px;
}
.herramientasDIV{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    transition: all 0.5 ease-in-out;
 
    }
    .herramientasDIV:hover{
        box-shadow: 2px 5px 5px 0px rgba(13, 13, 13, 0.522);
        
    }
    .herramientasDIV>img{
        width: 100%;
        height: 100%;
        transition: 0.5s;
        object-fit: cover;
    }
    .herramientasDIV>img:hover{
        transform: scale(1.1);
    }
    .herramientasDIV button{
        background-color: rgba(14, 106, 0, 0.525);
        border: none;
        border-radius: 5px;
    }

    #HerramientasTotal{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: row;
        text-align: center;
        gap: 10px; 
        flex-wrap: wrap;
    }
    #contenedorPrecio{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin: 5px;
    }

    footer>div{
        display: flex;
        flex-direction: column;
    }
    .Inicio_sesion{
        display: none;
        width: 40%;
        height: auto;
        border: solid 2px black;
        text-align: center;
    }
    .Inicio_sesion2{
        display: flex;
        width: 30%;
        padding: 30px;
        height: auto;
        border: solid 1px rgba(0, 0, 0, 0.498);
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        z-index: 3;
       
    }
    #containerInicio{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        filter: blur(10);
        
    }
 

    #BotonElim{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    }
