@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "PT Sans", sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
 
}
.navbar-item>img{
    max-width: fit-content;
}
.imagen_inicio>img{
    margin-top: 30px;
}
h1{
    text-align: center;
    font-size: 30px;
    padding: 8px;
}
.containerP{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Filtrado{
 
    width: 200px;
    height: 300px;
}
.productos{
    width: 100%;
    margin-left:50px ;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.navnbar{
    position: fixed;
}
footer,img{
    width: 100%;
}
.herramientasDIV>img{
    width: 200px;
    height: 200px;
}
.herramientasDIV{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    transition: all 0.5 ease-in-out;
 
    }
    .herramientasDIV:hover{
        box-shadow: 2px 5px 5px 0px rgba(13, 13, 13, 0.522);
        z-index: 2;
        
    }

    #HerramientasTotal{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: row;
        text-align: center;
        gap: 10px; 
        flex-wrap: wrap;
    }
    #contenedorPrecio{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin: 5px;
    }

    footer>div{
        display: flex;
        flex-direction: column;
    }
