@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Sora:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sora:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#ContBusqueda{
    display: flex;
    margin: 0 auto;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 0;
}

body{

    background-color: rgb(238, 243, 241);
}

.imagen_inicio{
    width: 100%;
    height: auto;
}
.input{
    width: 90%;
}

.navbar{
    position: fixed; 
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 2;
}
.NumCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    bottom: 6px;
    right: 5px;
}
#VERMAS{
    display:none ;
}
#P_0{
    margin: 7px;
}
#contTOTAL{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#ContCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    height: auto;
    flex-direction: row;
}
#TargetaUnica>img{
    width: 70px;
    height: 70px;
}
#TargetaUnica{
    width:auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
}
#valorTotal{
    text-align: center;
    font-size: 28px;
    z-index: 50;
    position: absolute;
    bottom: 80px;

}


.navbar-item>img{
    max-width: fit-content;
}
.imagen_inicio>img{
    margin-top: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 8px;
    font-family: "Oxygen", sans-serif;
}
.containerP{
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: auto;
    margin: 0 auto 20px;
}
#Botones-Cont{
    display: flex;
    gap: 8px;
}

.Filtrado{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
 z-index: 2;
 position: fixed;
 background-color: #3cc286;
 width: auto;
 height: auto;
 border-radius: 10px;
 padding: 10px;
 z-index: 1;
 color: black;
 margin-left: 15px;
}
summary{
    list-style: none;
    cursor: pointer;
    background-color: #3cc286;
    text-decoration: none;
    padding: 4px;   
    border-radius: 5px; 
}


summary:hover{
    background-color: #3cc286;
}
summary a{
    color: black;
}
.Filtrado:hover{
    background-color: #28cd82;
}

.productos{
    width: 100%;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navnbar{
    position: fixed;
}
footer,img{
    width: 100%;
}
.herramientasDIV>img{
    width: 200px;
    height: 200px;
}
.herramientasDIV{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    transition: 0.5s;
 
    }
    .herramientasDIV:hover{
        box-shadow: 2px 5px 5px 0px rgba(13, 13, 13, 0.522);
        transition: 0.5s;
        color: rgb(0, 0, 0);
        
    }
    .herramientasDIV>img{
        width: 100%;
        height: 100%;
        transition: 0.5s;
        object-fit: cover;
    }
    .herramientasDIV>img:hover{
        transform: scale(1.1);
    }
    .herramientasDIV button{
        background-color: rgb(0, 0, 0);
        border: none;
        border-radius: 5px;
        width: 30px;
        height: 30px;
    }

    #HerramientasTotal{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: row;
        text-align: center;
        gap: 10px; 
        flex-wrap: wrap;
    }
    #contenedorPrecio{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin: 5px;
    }

    footer>div{
        display: flex;
        flex-direction: column;
    }
    .Registro_sesion{
        display: none;
        width: 40%;
        height: auto;
        border: solid 2px black;
        text-align: center;
    }
    .Registro_sesion2{
        display: flex;
        width: 30%;
        padding: 30px;
        height: auto;
        border: solid 1px rgba(0, 0, 0, 0.498);
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        z-index: 3;  
        
    }
    #containerRegistro,#containerInicio{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(5px);
        z-index: 20;
    }
    #BotonElim{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    transition: 0.5s;
    }
 
  .inicio_sesion2{
    display: flex;
    width: 30%;
    padding: 30px;
    height: auto;
    border: solid 1px rgba(0, 0, 0, 0.498);
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 40;  
    transition: 0.5s;
}
.inicio_sesion{
    display: flex;
    width: 30%;
    padding: 30px;
    height: auto;
    border: solid 1px rgba(0, 0, 0, 0.498);
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 4;  
    text-align: center;
}

#BotonElim2{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    }

.ing{
    margin: 20px;
}
.imagen_envio{
    display: none;
}
.imagen_inicio_cel{
    display: none;
}
#ContCarrito{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #7a7a7a79;
    z-index: 20;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}


@media (max-width: 768px){

   .navbar{
    width: 99%;
    box-shadow: 0px 1px 3px 3px rgba(128, 128, 128, 0.331);
    
   } 
   .nav_ham{
    transition: all 1.5s ease-out;
   }

   .imagen_envio{
    display: flex; 
    width: 98% ;
    margin: 0 auto;
    margin-top: 30px;
}
.imagen_inicio{
    display: none;
}
.imagen_inicio_cel{
    display: flex

}
.inicio_sesion{
    
    width: 60%;
    padding: 30px;
  
}
.Registro_sesion{
    
    width: 60%;
   
}


}



